:root {
/*Declare variables here */


body {
    display: flex;

}

}

header {


}

h1,h2,h3,h4,h5,h6 {


}

main {
    flex-wrap: wrap;

}

section {
    flex-direction: column;

}

img {


}

footer {


}

.img {
padding: ;
border: ;
margin: ;

}

@media screen and () {
    
}