:root {
    --dark: #000000;
    --light: #fff;
    --grey: #d4d3d3;
    --blue: #4f84b6;
    --square-border: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--grey);

}

body {
   background-color: var(--blue);
    
}


header {
    display: block;
    padding: 10px;
    text-align: left;
    background-color: var(--blue);
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/381/988/original/vector-abstract-colorful-dotted-banner-background.jpg");
}

nav {
    padding top: 15px;
    margin: right 20px;
    text-align: right;
    font-size: 44px;
    font-family: 'Trebuchet MS', sans-serif;

}

nav ul li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin left: 25px;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}

main {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    
}

h1, h2 {
    padding: 10px;
    font-size: 50px;
    color: var(--grey);
}

h3, h4 {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: var(--dark);
    
}

h5 {
    text-decoration: underline;
    text-underline-offset: 8px;
    display: block;
    padding: 20px;
    font-size: 30px;
    color: var(--dark);
    margin: auto;
    text-align: center;
    color: var(--grey);
}

p {
    display: block;
    font-family: "smooth";
    font-size: 26px;
    color: var(--dark);
    
}

img {
    padding right: 10px;
    margin right: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: var(--square-border);
}

footer {
    cursor: pointer;
    margin: 40px;
    padding: 40px;
    border-style: solid;
    text-align: center;
    background-color: var(--blue);
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/381/988/original/vector-abstract-colorful-dotted-banner-background.jpg");
}

footer p {
    color: var(--grey);
}

.Topics {
    display: flex;
    background-color: var(--blue);
    padding: 10px;
}

.mainCard {
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: var(--square-border);
    padding-right: 50px;
    transform: rotate(0deg);
    box-shadow: 10px 10px 5px var(--dark);
    text-align: center;
    background-color: #a0e7dd;
    max-width: 100%;
}

.card {
    cursor: pointer;
    display: block;
    padding: 10px;
    margin-inline: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: var(--square-border);
    box-shadow: 10px 10px 5px var(--dark);
    background-color: #a0e7dd;  
    width: 25%;
    
}



.card p {
    text-align: center;
}

.mainCard img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}

.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

#About {

}

#Topics {

}

#Contact {

}

@media screen and () {
    
}